* {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}
.top-content {
  width: 100%;
  background-color: #eed2e2;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 600;
}

/* Navigacija */

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  font-weight: bold;
}
.left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  padding: 10px 70px;
}
.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  height: 100%;
}
.right-container i {
  user-select: none;
}

#nav-item {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.nav-logo {
  width: 80px;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav-logo img {
  width: inherit;
  height: inherit;
}
.btn-div {
  position: relative;
  text-transform: uppercase;
  background-color: #1d1d1b;
  overflow: hidden;
  color: white;
  padding: 20px 40px;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Inter";
  cursor: pointer;
}
.btn-background {
  position: absolute;
  width: 200px;
  height: 125px;
  inset: 0;
  fill: white;
  object-fit: cover;
  transition: transform 0.2s ease;
}
.btn-background:hover {
  transform: scale(1.08);
}
.menu-btn {
  border-left: 1px solid black;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}
.menu-btn img {
  height: 60px;
  width: 60px;
  transition: transform 0.3s ease;
}

.menu-btn:hover img {
  transform: rotate(90deg);
}

/* MAIN */

/* Carousel */

.carousel {
  position: relative;
  width: 100%;
}

.carousel-track {
  overflow: hidden;
}

.landing-img {
  width: 100%;
  height: auto;
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #eed2e2;
  border-radius: 50%;
  border: unset;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow.left {
  left: 15px;
}

.arrow.right {
  right: 15px;
}

.carousel-dots {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 30px;
}

.dot {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background: #eed2e2;
  border-radius: 2px;
}

.dot.active {
  background: #2ecc71;
}

/* Text i produkti */

.location-items-container {
  display: flex;
  flex-direction: row;
  background-color: #eed2e2;
  height: 550px;
}
.location-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  padding-left: 100px;
  padding-right: 40px;
  gap: 80px;
}
.location-container h1 {
  font-weight: 700;
  line-height: 1;
}
.location-container p {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
}

#location-link {
  text-decoration: none;
  color: black;
}
.items-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
}
.item {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 2px solid black;
  font-size: 32px;
  width: 50%;
  padding: 25px 40px;
}
.item-text {
  margin-top: auto;
}
.item-text h4 {
  font-weight: 600;
}
.item-text p {
  font-size: 20px;
  font-weight: normal;
}
.item img {
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Text i slika konobara */

.text-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text-image-container h1 {
  padding: 30px 30px;
  width: 50%;
  text-align: center;
  line-height: 1;
  font-weight: 600;
}
.text-image-container img {
  width: 50%;
}

/* Coffee Shop lokacije */

.cs-locations {
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.cs-text-container {
  display: flex;
  flex-direction: row;
  width: 40%;
}
.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 2.75rem;
  padding: 40px 30px;
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.vertical-text:not(:first-child) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.cs-image-container {
  display: flex;
  padding: 60px;
}
.cs-image-container img {
  width: 75%;
  height: auto;
  border-radius: 10px;
}
.cs-info {
  padding: 50px;
}
.cs-info h2 {
  font-size: 1.75rem;
  margin-bottom: 16px;
}
.cs-info p {
  font-size: 1rem;
  font-weight: 500;
}

/* Prodavnica */

#store-title {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Orbitron ", Arial, Helvetica, sans-serif;
  padding: 36px;
}
.coffee-container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.coffee-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-right: 1px solid black;
}
.coffee-item h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 8px;
}
.coffee-item p {
  font-size: 1em;
  font-weight: 600;
}

.coffee-item img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Saznaj Vise */

.learn-more-container {
  background-color: #eed2e2;
  display: flex;
}
.learn-more-container h1 {
  font-size: 44px;
  padding: 20px 50px;
  width: 40%;
}
.learn-more-items {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  width: 60%;
}
.lm-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid black;
}
.lm-item-text {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 8px;
  font-weight: 600;
}
.lm-item-text h2 {
  font-weight: bold;
  font-size: 1.75em;
  text-transform: uppercase;
}
.read-more {
  display: flex;
  margin-left: auto;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

/* Postani Barista */

.become-barista {
  display: flex;
  padding: 125px;
  border: 1px solid black;
}
.become-barista img {
  border-radius: 10px;
}
.flavor-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 100px;
  gap: 16px;
}
.flavor-text h2 {
  font-size: 1.75em;
}
.flavor-text p {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.67;
  margin-bottom: 40px;
}

/* Pratite Nas */

.follow-us-container {
  display: flex;
  flex-direction: column;
}

.title-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  border: 1px solid black;
}

.title-socials h1 {
  font-size: 4.5rem;
}

.socials-container {
  display: flex;
  gap: 5px;
}

.social-icons {
  background: black;
  padding: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons i {
  color: white;
  font-size: 24px;
}

.images-container {
  padding: 45px 0px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  overflow: hidden;
}
.image-box {
  width: 325px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.image-box img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.4s ease;
  cursor: pointer;
}

.image-box:hover img {
  transform: translateX(-50%) translateX(2%);
}

/* FUTER */

.footer {
  padding: 60px 80px 30px;
  font-family: Arial, sans-serif;
  font-weight: 500;
  color: black;
  border-top: 1px solid black;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  max-width: 500px;
}

.logo-with-info {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.footer-logo {
  width: 100px;
  height: auto;
}

.kafeterija-info h2 {
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: 700;
}

.kafeterija-info p {
  margin: 4px 0;
  font-size: 14px;
}

.store-badges {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.store-badges img {
  width: 160px;
  cursor: pointer;
}

.footer-right {
  display: flex;
  gap: 80px;
}

.footer-links,
.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-links p,
.footer-socials p {
  font-size: 14px;
  cursor: pointer;
}

.footer-bottom {
  margin-top: 50px;
  font-size: 13px;
}

.footer-bottom p {
  margin: 4px 0;
}
