* {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}
.top-content {
  width: 100%;
  background-color: #eed2e2;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 500;
}

/* Navigacija */

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}
.left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  padding: 10px 70px;
}
.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  height: 100%;
}
.right-container i {
  user-select: none;
}

#nav-item {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.nav-logo {
  width: 80px;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav-logo img {
  width: inherit;
  height: inherit;
}
.btn-div {
  position: relative;
  text-transform: uppercase;
  background-color: #1d1d1b;
  overflow: hidden;
  color: white;
  padding: 20px 40px;
  display: flex;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Inter";
  cursor: pointer;
  text-wrap: nowrap;
}
.btn-background {
  position: absolute;
  width: 200px;
  height: 125px;
  inset: 0;
  fill: white;
  object-fit: cover;
  transition: transform 0.2s ease;
}
.btn-background:hover {
  transform: scale(1.08);
}
.menu-btn {
  border-left: 1px solid black;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}
.menu-btn img {
  height: 60px;
  width: 60px;
  transition: transform 0.3s ease;
}

.menu-btn:hover img {
  transform: rotate(90deg);
}

/* MAIN */

/* Carousel */

.carousel {
  position: relative;
  width: 100%;
}

.carousel-track {
  overflow: hidden;
}

.landing-img {
  width: 100%;
  height: auto;
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #eed2e2;
  border-radius: 50%;
  border: unset;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow.left {
  left: 14px;
}

.arrow.right {
  right: 14px;
}

.carousel-dots {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 30px;
}

.dot {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background: #eed2e2;
  border-radius: 2px;
  cursor: pointer;
}

.dot.active {
  background: #2ecc71;
}

/* Text i produkti */

.location-items-container {
  display: flex;
  flex-direction: row;
  background-color: #eed2e2;
  height: 550px;
}
.location-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  padding-left: 100px;
  padding-right: 40px;
  gap: 80px;
}
.location-container h1 {
  font-weight: 700;
  line-height: 1;
}
.location-container p {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
}

#location-link {
  text-decoration: none;
  color: black;
}
.items-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
}
.item {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 2px solid black;
  font-size: 32px;
  width: 50%;
  padding: 25px 40px;
}
.item-text {
  margin-top: auto;
}
.item-text h4 {
  font-weight: 600;
}
.item-text p {
  font-size: 20px;
  font-weight: normal;
}
.item img {
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Text i slika konobara */

.text-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text-image-container h1 {
  padding: 26px;
  width: 50%;
  text-align: center;
  line-height: 1;
  font-weight: 600;
}
.text-image-container img {
  width: 50%;
  height: auto;
}

/* Coffee Shop lokacije */

.cs-locations {
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.cs-text-container {
  display: flex;
  flex-direction: row;
  width: 40%;
}
.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 2.75rem;
  padding: 40px 30px;
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.vertical-text:not(:first-child) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.cs-image-container {
  display: flex;
  padding: 60px;
}
.cs-image-container img {
  width: 75%;
  height: auto;
  border-radius: 10px;
}
.cs-info {
  padding: 50px;
}
.cs-info h2 {
  font-size: 1.75rem;
  margin-bottom: 16px;
}
.cs-info p {
  font-size: 1rem;
  font-weight: 500;
}

/* Prodavnica */

#store-title {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Orbitron ", Arial, Helvetica, sans-serif;
  padding: 36px;
}
.coffee-container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.coffee-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-right: 1px solid black;
}
.coffee-item h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 8px;
}
.coffee-item p {
  font-size: 1em;
  font-weight: 600;
}

.coffee-item img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Saznaj Vise */

.learn-more-container {
  background-color: #eed2e2;
  display: flex;
}
.learn-more-container h1 {
  font-size: 44px;
  padding: 20px 50px;
  width: 40%;
}
.learn-more-items {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  width: 60%;
}
.lm-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid black;
}
.lm-item-text {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 8px;
  font-weight: 600;
}
.lm-item-text h2 {
  font-weight: bold;
  font-size: 1.75em;
  text-transform: uppercase;
}
.read-more {
  display: flex;
  margin-left: auto;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

/* Postani Barista */

.become-barista {
  display: flex;
  padding: 125px;
  border: 1px solid black;
}
.become-barista img {
  border-radius: 10px;
}
.flavor-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 100px;
  gap: 16px;
}
.flavor-text h2 {
  font-size: 1.75em;
}
.flavor-text p {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.67;
  margin-bottom: 40px;
}

/* Pratite Nas */

.follow-us-container {
  display: flex;
  flex-direction: column;
}

.title-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  border: 1px solid black;
}

.title-socials h1 {
  font-size: 4.5rem;
}

.socials-container {
  display: flex;
  gap: 5px;
}

.social-icons {
  background: black;
  padding: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons i {
  color: white;
  font-size: 24px;
}

.images-container {
  padding: 45px 0px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: center;
  overflow: hidden;
}
.image-box {
  width: 325px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.image-box img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.4s ease;
  cursor: pointer;
}

.image-box:hover img {
  transform: translateX(-50%) translateX(2%);
}

/* ABOUT STRANICA */

.about-container {
  display: flex;
  flex-direction: row;
  background-color: #fdf1d9;
  border: 1px solid black;
}
.about-container p {
  font-weight: 500;
  line-height: 1.67;
}
.left-part {
  width: 50%;
  padding: 90px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  border-right: 1px solid black;
}
.left-part h1 {
  width: 70%;
  font-size: 36px;
}

.bottom-pars {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right-part {
  width: 50%;
  padding: 90px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: start;
}

.gallery-container h1 {
  font-size: 5rem;
  padding-top: 120px;
  padding-left: 70px;
}

.gallery-images {
  padding: 45px 45px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 36px;
  justify-content: center;
  overflow: hidden;
}
.gallery-box {
  width: 320px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.gallery-box img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.4s ease;
  cursor: pointer;
}

.gallery-box:hover img {
  transform: translateX(-50%) translateX(2%);
}

/* KORPO DOGADJAJI PAGE */

.corpo-container {
  display: flex;
  border: 1px solid black;
  background-color: #fdf1d9;
}
.left-corpo {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-right: 1px solid black;
  padding: 80px;
}
.left-corpo h1,
.right-corpo h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.right-corpo {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 80px;
}

.right-corpo p {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  width: 80%;
}

.form-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field.half {
  width: 45%;
}

.field.full {
  width: 93%;
}

.left-corpo label {
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.left-corpo label span {
  color: #e45757;
}

.left-corpo input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 0.9rem;
  background: #ffffff2e;
}

.left-corpo input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.25);
}

.left-corpo button {
  margin-top: 25px;
  padding: 10px 20px;
  background: #f1b5c6;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.left-corpo button:hover {
  opacity: 0.9;
}

/* Kontakt */

.kontakt-container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.kontakt-text-container {
  display: flex;
  flex-direction: row;
}
.vertical-kontakt-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 2.75rem;
  padding: 40px 30px;
  text-transform: uppercase;
}
.vertical-kontakt-text:hover {
  background-color: rgb(240, 240, 240);
}
.vertical-kontakt-text:not(:first-child) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.kontakt-image-container {
  display: flex;
  padding: 60px;
}
.kontakt-image-container img {
  width: 80%;
  height: auto;
  border-radius: 10px;
}
.kontakt-info {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.kontakt-info h2 {
  font-size: 1.75rem;
  margin-bottom: 16px;
}
.kontakt-info p {
  font-size: 1rem;
  font-weight: 500;
}

.map-example {
  display: flex;
  padding: 24px;
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
}

/* POSAO */
#landing-img-job {
  width: 100%;
}

.left-job h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: bold;
}
.right-job h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: bold;
  width: 80%;
}
.right-job {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 100px;
}

.item-div {
  padding: 8px;
  display: flex;
  gap: 16px;
}
.item-div img {
  width: 20px;
  height: 20px;
}
.item-div p {
  font-size: 1.1rem;
  font-weight: 500;
  width: 80%;
}
.job-container {
  display: flex;
  background-color: #fdf1d9;
  border: 1px solid black;
}

.left-job {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  border-right: 1px solid black;
  padding: 100px;
  align-items: start;
}

.left-job label {
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.left-job label span {
  color: #e45757;
}

.left-job input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 0.9rem;
  background: #ffffff2e;
  width: 100%;
}

.left-job input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.25);
}

.left-job button {
  margin-top: 25px;
  padding: 10px 20px;
  background: #f1b5c6;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.left-job button:hover {
  opacity: 0.9;
}

.upload-cv-form {
  width: 100%;
}
.drag-drop-div {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #fcfcfc;
  color: rgba(0, 0, 0, 0.7);
  padding: 20px 50px;
  gap: 10px;
  width: 100%;
  cursor: pointer;
}

/* LOKACIJE */

.locations-big-container {
  display: flex;
  flex-direction: column;
}
.locations-menus-container {
  display: flex;
  border-top: 1px solid black;
  padding-left: 50px;
}
.location-menu-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 30px;
  padding-bottom: 45px;
  justify-content: start;
  align-items: start;
  width: 25%;
}
.location-menu-item span {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-size: 17px;
  align-items: start;
}
.street-par {
  font-weight: 500;
}
.location-menu-item i {
  margin-top: 4px;
}
.location-menu-item h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.75rem;
}
.buttons-holder {
  display: flex;
  gap: 12px;
  margin-top: 32px;
  margin-left: 6px;
}
.button-override {
  font-size: 16px;
}
.locations-title {
  text-align: center;
  font-size: 5rem;
  border-top: 1px solid black;
  padding-top: 48px;
  padding-bottom: 24px;
  text-transform: uppercase;
}

/* MAPS */

.map-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 40px;
  border: 1px solid black;
}
.map-container iframe {
  border-radius: 12px;
}
.map-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* FUTER */

.footer {
  padding: 80px 80px 30px;
  font-family: Arial, sans-serif;
  font-weight: 500;
  color: black;
  border-top: 1px solid black;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  max-width: 500px;
}

.logo-with-info {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.footer-logo {
  width: 100px;
  height: auto;
}

.kafeterija-info h2 {
  margin: 0 0 20px;
  font-size: 32px;
  font-weight: 700;
}

.kafeterija-info p {
  margin: 8px 0;
  font-size: 15px;
}

.store-badges {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.store-badges img {
  width: 190px;
  cursor: pointer;
}

.footer-right {
  width: 50%;
  display: flex;
  gap: 200px;
}

.footer-links,
.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-links p,
.footer-socials p {
  font-size: 15px;
  cursor: pointer;
}

.footer-bottom {
  margin-top: 50px;
  font-size: 14px;
}

.footer-bottom p {
  margin: 8px 0;
}
.footer-payments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}
.footer-payments img {
  height: 28px;
  width: auto;
}
.vertical-line {
  border-right: 1px solid #cccbcb;
  padding-right: 16px;
}

@media (max-width: 1650px) {
  /* Navigacija */

  .left-container {
    gap: 40px;
    padding: 10px 50px;
  }

  /* Text i produkti */

  .location-container {
    width: unset;
    padding-left: 90px;
    padding-right: 38px;
    gap: 70px;
  }

  .items-container {
    width: unset;
  }
  .item {
    font-size: 28px;
    width: unset;
  }

  .item-text p {
    font-size: 18px;
    font-weight: normal;
  }
  .item img {
    width: 360px;
    height: auto;
    margin-left: auto;
  }

  /* Coffee Shop lokacije */

  .vertical-text {
    font-size: 2.25rem;
    padding: 32px 24px;
  }

  .cs-image-container {
    display: flex;
    padding: 42px;
  }
  .cs-image-container img {
    width: 65%;
    height: auto;
    border-radius: 10px;
  }
  .cs-info {
    padding: 40px;
  }
  .cs-info h2 {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  .cs-info p {
    font-size: 1rem;
    font-weight: 500;
  }

  /* Postani barista */

  .become-barista {
    padding: 75px;
  }

  /* Pratite nas */

  .images-container {
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
  }
  .image-box {
    width: 280px;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }

  /* ABOUT PAGE */

  .gallery-container h1 {
    font-size: 4.5rem;
  }

  .gallery-images {
    padding: 45px 40px;
    gap: 32px;
  }
  .gallery-box {
    width: 250px;
    height: 320px;
  }

  /* CORPO DOGADJAJI */
  .left-corpo label {
    font-size: 0.9rem;
  }
  .field.full {
    width: 94%;
  }

  /* KONTAKT */

  .vertical-kontakt-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 2rem;
    padding: 40px 25px;
  }

  .kontakt-image-container {
    display: flex;
    padding: 50px;
  }
  .kontakt-image-container img {
    width: 75%;
    border-radius: 10px;
  }
  .kontakt-info {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}
